//
// Backgrounds
//

@each $color, $value, $icon in $colors {
    @include bg-variant(".bg-#{$color}", $value, $icon);
}

@each $color, $value, $icon in $theme-colors {
    @include bg-gradient-variant(".bg-gradient-#{$color}", $value, $icon);
}

@each $color, $value, $icon in $colors {
    @include bg-gradient-variant(".bg-gradient-#{$color}", $value, $icon);
}

// Background colors with transparency

@each $color, $value, $icon in $theme-colors {
    @include bg-translucent-variant(".bg-translucent-#{$color}", $value, $icon);
}

// Sections backgrounds

@each $color, $value, $icon in $section-colors {
    @include bg-variant(".section-#{$color}", $value, $icon);
}

@each $color, $value, $icon in $theme-colors {
    @include bg-gradient-variant(".bg-gradient-#{$color}", $value, $icon);
}

// Shape (svg) fill colors

@each $color, $value in $theme-colors {
    .fill-#{$color} {
        fill: $value;
    }

    .stroke-#{$color} {
        stroke: $value;
    }
}

.fill-opacity-8 {
    fill-opacity: 0.8;
}
